# TUGAS 3

# Bastomy - 1301178418

### k-Nearest Neighbors

### Import Library

In [1]:
import pandas as pd
import math

### Import Data Train dan Data Test</strong>

In [2]:
d_train = pd.read_csv("DataTrain_Tugas3_AI.csv")
d_test = pd.read_csv("DataTest_Tugas3_AI.csv")

### KNN

In [3]:
def calculating(x,y):
    prediction=[]
    K = 5
    for i in range(len(x)):
        result =[]
        tempCls=[]
        cls0=0
        cls1=0
        cls2=0
        cls3=0
        for j in range(len(y)):
            result.append([math.sqrt((x["X1"][i]- y["X1"][j])**2)+((x["X2"][i]- y["X2"][j])**2)+((x["X3"][i]- y["X3"][j])**2)+((x["X4"][i]- y["X4"][j])**2)+((x["X5"][i]- y["X5"][j])**2),y["Y"][j]])
        result.sort()
        for k in range(K):
            if(result[k][1]==0):
                cls0=cls0+1
            elif(result[k][1]==1):
                cls1=cls1+1
            elif(result[k][1]==2):
                cls2=cls2+1
            elif(result[k][1]==3):
                cls3=cls3+1
        tempCls.append(cls0)
        tempCls.append(cls1)
        tempCls.append(cls2)
        tempCls.append(cls3)
#         print(i,tempCls)
        prediction.append(tempCls.index(max(tempCls)))
    return prediction

In [4]:
hasil_prediksi=calculating(d_test,d_train)

In [5]:
result = pd.DataFrame({
    "No" : hasil_prediksi, 
})

In [6]:
result.to_csv('TebakanTugas3.csv', index = False)
result_prediction = pd.read_csv("TebakanTugas3.csv")

In [7]:
result_prediction

     No
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    0
11    0
12    1
13    1
14    0
15    1
16    0
17    0
18    0
19    0
20    1
21    0
22    0
23    1
24    1
25    0
26    0
27    0
28    1
29    0
..   ..
170   2
171   3
172   0
173   2
174   2
175   2
176   2
177   2
178   3
179   3
180   3
181   3
182   2
183   2
184   1
185   2
186   3
187   2
188   3
189   3
190   2
191   3
192   2
193   3
194   3
195   3
196   3
197   3
198   3
199   3

[200 rows x 1 columns]