# TUGAS 3

# Bastomy - 1301178418

### k-Nearest Neighbors

### Import Library

In [1]:
import pandas as pd
import math

### Import Data Train dan Data Test</strong>

In [2]:
d_train = pd.read_csv("DataTrain_Tugas3_AI.csv")
d_test = pd.read_csv("DataTest_Tugas3_AI.csv")

### Visualisasi Data Train

### Variabel

### Perulangan

In [8]:
def calculating(x,y):
    prediction=[]
    result =[]
    K = 5
    for i in range(len(x)):
        tempCls=[]
        cls=[]
        cls0=0
        cls1=0
        cls2=0
        cls3=0
        for j in range(len(y)):
            result.append([math.sqrt((x["X1"][i]- y["X1"][j])**2)+((x["X2"][i]- y["X2"][j])**2)+((x["X3"][i]- y["X3"][j])**2)+((x["X4"][i]- y["X4"][j])**2)+((x["X5"][i]- y["X5"][j])**2),y["Y"][j]])
        result.sort()
        for k in range(K):
            if(result[k][1]==0):
                cls0=cls0+1
            elif(result[k][1]==1):
                cls1=cls1+1
            elif(result[k][1]==2):
                cls2=cls2+1
            elif(result[k][1]==3):
                cls3=cls3+1
        tempCls.append(cls0)
        tempCls.append(cls1)
        tempCls.append(cls2)
        tempCls.append(cls3)
        print(i,tempCls)
        prediction.append(tempCls.index(max(tempCls)))
        result.clear()
    return prediction

In [ ]:
hasil_prediksi=calculating(d_test,d_train)

0 [0, 3, 0, 2]
1 [1, 3, 0, 1]
2 [1, 4, 0, 0]
3 [0, 5, 0, 0]
4 [0, 5, 0, 0]
5 [0, 5, 0, 0]
6 [0, 4, 0, 1]
7 [1, 4, 0, 0]
8 [1, 4, 0, 0]
9 [1, 3, 0, 1]
10 [3, 2, 0, 0]
11 [5, 0, 0, 0]
12 [0, 5, 0, 0]
13 [1, 4, 0, 0]
14 [3, 1, 1, 0]
15 [0, 5, 0, 0]
16 [5, 0, 0, 0]
17 [4, 1, 0, 0]
18 [3, 2, 0, 0]
19 [5, 0, 0, 0]
20 [0, 5, 0, 0]
21 [4, 0, 0, 1]
22 [5, 0, 0, 0]
23 [0, 5, 0, 0]
24 [0, 3, 0, 2]
25 [4, 1, 0, 0]
26 [5, 0, 0, 0]
27 [5, 0, 0, 0]
28 [1, 4, 0, 0]
29 [5, 0, 0, 0]
30 [5, 0, 0, 0]
31 [0, 5, 0, 0]
32 [4, 0, 1, 0]
33 [0, 5, 0, 0]
34 [1, 4, 0, 0]
35 [1, 4, 0, 0]
36 [0, 5, 0, 0]
37 [0, 5, 0, 0]
38 [5, 0, 0, 0]
39 [0, 5, 0, 0]
40 [5, 0, 0, 0]
41 [5, 0, 0, 0]
42 [0, 0, 5, 0]
43 [5, 0, 0, 0]
44 [5, 0, 0, 0]
45 [2, 0, 3, 0]
46 [5, 0, 0, 0]
47 [0, 5, 0, 0]
48 [3, 1, 0, 1]
49 [0, 5, 0, 0]
50 [0, 5, 0, 0]
51 [0, 5, 0, 0]
52 [5, 0, 0, 0]
53 [1, 4, 0, 0]
54 [1, 4, 0, 0]
55 [1, 1, 0, 3]
56 [0, 2, 0, 3]
57 [0, 5, 0, 0]
58 [1, 4, 0, 0]
59 [0, 5, 0, 0]
60 [1, 3, 0, 1]
61 [0, 5, 0, 0]
62 [0, 5, 0, 0]
63 [0, 5, 0, 0]
64 [5, 0, 0, 0]
65 [1, 4, 0, 0]
66 [5, 0, 0, 0]
67 [0, 5, 0, 0]
68 [2, 1, 0, 2]
69 [0, 5, 0, 0]
70 [4, 1, 0, 0]
71 [5, 0, 0, 0]
72 [1, 4, 0, 0]
73 [0, 4, 0, 1]
74 [2, 3, 0, 0]
75 [0, 5, 0, 0]
76 [3, 0, 2, 0]
77 [5, 0, 0, 0]
78 [0, 5, 0, 0]
79 [0, 5, 0, 0]
80 [0, 4, 0, 1]
81 [5, 0, 0, 0]
82 [5, 0, 0, 0]
83 [0, 2, 0, 3]
84 [3, 2, 0, 0]
85 [0, 5, 0, 0]
86 [5, 0, 0, 0]
87 [5, 0, 0, 0]
88 [5, 0, 0, 0]
89 [5, 0, 0, 0]
90 [4, 1, 0, 0]
91 [4, 0, 0, 1]
92 [2, 3, 0, 0]
93 [0, 2, 0, 3]
94 [5, 0, 0, 0]
95 [5, 0, 0, 0]
96 [4, 0, 1, 0]
97 [0, 4, 0, 1]
98 [4, 0, 0, 1]
99 [3, 0, 2, 0]
100 [0, 0, 5, 0]
101 [0, 0, 5, 0]
102 [0, 0, 0, 5]
103 [0, 0, 0, 5]
104 [0, 0, 4, 1]
105 [1, 0, 4, 0]
106 [0, 0, 0, 5]
107 [0, 0, 0, 5]
108 [2, 1, 2, 0]
109 [0, 0, 0, 5]
110 [0, 0, 1, 4]
111 [4, 0, 1, 0]
112 [0, 0, 0, 5]
113 [0, 2, 0, 3]
114 [0, 0, 5, 0]
115 [0, 0, 5, 0]
116 [0, 0, 5, 0]
117 [0, 0, 5, 0]
118 [0, 1, 4, 0]
119 [3, 0, 2, 0]
120 [3, 0, 2, 0]
121 [0, 0, 0, 5]
122 [0, 0, 5, 0]
123 [0, 0, 5, 0]
124 [0, 0, 0, 5]
125 [0, 0, 0, 5]
126 [1, 0, 3, 1]
127 [0, 0, 5, 0]
128 [0, 0, 0, 5]
129 [0, 0, 5, 0]
130 [0, 0, 5, 0]
131 [0, 0, 0, 5]
132 [2, 0, 2, 1]
133 [0, 0, 0, 5]
134 [0, 0, 0, 5]
135 [0, 0, 5, 0]
136 [0, 0, 5, 0]
137 [0, 0, 5, 0]
138 [1, 0, 4, 0]
139 [0, 0, 5, 0]
140 [0, 0, 5, 0]
141 [2, 0, 1, 2]
142 [0, 0, 0, 5]
143 [0, 0, 5, 0]
144 [0, 0, 5, 0]
145 [0, 0, 5, 0]
146 [0, 1, 0, 4]
147 [0, 0, 0, 5]
148 [0, 0, 0, 5]
149 [0, 0, 5, 0]
150 [0, 0, 5, 0]
151 [0, 0, 0, 5]
152 [0, 0, 0, 5]
153 [0, 0, 0, 5]
154 [0, 0, 0, 5]
155 [0, 0, 5, 0]
156 [0, 1, 0, 4]
157 [1, 0, 4, 0]
158 [0, 0, 5, 0]
159 [0, 0, 0, 5]
160 [0, 0, 5, 0]
161 [0, 0, 0, 5]
162 [2, 0, 0, 3]
163 [0, 0, 5, 0]
164 [1, 0, 0, 4]
165 [0, 0, 5, 0]
166 [0, 0, 0, 5]
167 [0, 0, 5, 0]
168 [0, 0, 5, 0]
169 [0, 0, 5, 0]
170 [0, 1, 4, 0]
171 [0, 0, 0, 5]
172 [4, 0, 0, 1]
173 [0, 0, 5, 0]
174 [1, 0, 3, 1]
175 [0, 0, 5, 0]
176 [0, 0, 5, 0]
177 [0, 0, 5, 0]
178 [0, 0, 0, 5]
179 [0, 0, 0, 5]
180 [0, 0, 0, 5]
181 [0, 2, 0, 3]
182 [0, 0, 5, 0]
183 [0, 0, 5, 0]
184 [0, 3, 1, 1]
185 [1, 0, 4, 0]
186 [0, 0, 0, 5]

In [5]:
result = pd.DataFrame({
    "No" : hasil_prediksi, 
})

In [6]:
result.to_csv('prediction.csv', index = False)
result_prediction = pd.read_csv("prediction.csv")

In [7]:
result_prediction

     No
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    0
11    0
12    1
13    1
14    0
15    1
16    0
17    0
18    0
19    0
20    1
21    0
22    0
23    1
24    1
25    0
26    0
27    0
28    1
29    0
..   ..
170   2
171   3
172   0
173   2
174   2
175   2
176   2
177   2
178   3
179   3
180   3
181   3
182   2
183   2
184   1
185   2
186   3
187   2
188   3
189   3
190   2
191   3
192   2
193   3
194   3
195   3
196   3
197   3
198   3
199   3

[200 rows x 1 columns]